*{
    margin: 0;
    padding: 0;
}
h1{
    font-size:  30px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 49, 31);
    height: 100px;
}
body{
    background-color: rgb(231, 238, 206);
}